html {
  background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("jaguar-xe.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: white;
  padding: 100px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

button {
  background-color: #DB3030;
  padding: 12px 30px;
  border-color: #DB3030;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  line-height: 1;
  font-weight: bold;
}

.container {
  width: 600px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  margin: left;
	max-width: 90%;
}
